@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Variables de color */
:root {
    --primary-color: #ff7f50;
    --secondary-color: #6d6868;
    --background-color: #f2f2f2;
    --font-color: #fff;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header siempre fijo en la parte superior y separado de las secciones */
.header {
    position: sticky;
    top: 0;
    margin: 0;
    bottom: 90vh;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;   
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 80px;
}

h1.logo {
    width: 30%;
}

.navbar-brand {
    color: white;
    font-size: 1.5em;
}

.navbar-toggle {
    display: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

.navbar-menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

ul.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    gap: 10px;
}

ul.hide {
    display: none;
}

/* Estilos de las secciónes */
.section {
    padding: 10px 20px;
    scroll-margin-top: 80px;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

/* Carousel */
.carousel-container {
    position: relative;
    width: 90%;
    overflow: hidden;
    background-color: white;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 33.333%;    /* 3 tarjetas por fila */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.card:last-child {
    border-right: none;
}

button.btn-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Fin carousel */

/* Estilos de la sección de servicios */
.logo img {
    max-width: 200px;
    /* Reducir el tamaño máximo del logo */
    height: auto;
    /* Mantiene la proporción del logo */
    display: block;
    /* Asegura que el logo se muestre como un bloque */
}

.hero {
    background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

a.cta-button {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

a.cta-button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.servicios-section .wrap-servicios-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicios-section .item-servicios-section {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.servicios-section .item-servicios-section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.servicios-section .item-servicios-section p {
    padding: 10px;
}

.servicios-section .item-servicios-section:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.two-column-section .wrap-two-column {
    display: flex;
    flex-wrap: wrap;
}

.wrap-two-column .wrap-img_two-column {
    flex: 1;
    margin: 10px;
}

.wrap-two-column img {
    max-width: 100%;
    border-radius: 5px;
}

.wrap-text-column {
    padding: 20px;
}

.wrap-cta {
    text-align: center;
    margin-top: 20px;
}

.cta-a {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.cta-a:hover {
    background-color: var(--secondary-color);
}

/* Ítem de Testimonio */
/* Imagen dentro de las tarjetas */
.card img {
    width: 100%;
    min-height: 100px;
}

/* Contenido de texto dentro de las tarjetas */
.text-content {
    padding: 20px;
}

/* Título del programa */
.text-content strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Testimonio */
.testimonio {
    font-size: 0.9em;
    color: #555555;
}

.btn-form {
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos de Contacto */
#contacto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-form,
.contact-image {
    flex: 1;
    min-width: 300px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.container h2 {
    margin-bottom: 20px;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: var(--primary-color);
    /* Cambia este color al color de tu diseño */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--primary-color);
    /* Un tono más oscuro para el hover */
}

.contact-image img {
    width: 100%;
    border-radius: 5px;
}

/* Asegurarse de que no afecte a otras secciones */
.container #contacto {
    margin-top: 20px;
}

.container #contacto {
    margin-top: 20px;
}

.footer-section {
    background-color: var(--secondary-color);
    color: #ecf0f1;
    padding: 40px 0;
    font-family: "Arial", sans-serif;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo-column, .footer-contact-column, .footer-social-column {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-logo {
    width: 150px;
}

.footer-contact-column .contact-info {
    text-align: left;
}

.footer-contact-column .contact-info p {
    margin: 5px 0;
}

.footer-contact-column .contact-info a {
    color: #ecf0f1;
    text-decoration: none;
}

.footer-contact-column .contact-info a:hover {
    text-decoration: underline;
}

.footer-social-column .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-social-column .social-icons a {
    margin: 0 10px;
    color: #ecf0f1;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-social-column .social-icons a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    border-top: 1px solid #7f8c8d;
    padding-top: 10px;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}


/* Responsividad para testimonios */
/* 768px AipadMini */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle.active {
        color: #fff; /* Cambia el color del icono cuando está activo */
    }

    .wrap-servicios-section {
        flex-direction: column;
    }

    .testimonial-item {
        width: calc(50% - 20px);
    }

    .card {
        min-width: 50%;
        border-right: none;
    }
}

/* 375px */
@media (max-width: 375px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle.active {
        color: #fff; /* Cambia el color del icono cuando está activo */
    }

    .wrap-servicios-section {
        flex-direction: column;
    }

    .testimonial-item {
        width: 100%;
    }
    
    .card {
        min-width: 100%;
        border-right: none;
    }
}

/* 480px */
@media (max-width: 480px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle.active {
        color: #fff; /* Cambia el color del icono cuando está activo */
    }

    .wrap-servicios-section {
        flex-direction: column;
    }

    .testimonial-item {
        width: 100%;
    }
    
    .card {
        min-width: 100%;
        border-right: none;
    }
}